{% extends "base.html" %}

{% block lab %}РГЗ{% endblock %}

{% block main %}
<body>
    <h1>Список пользователей</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user[1] }}
                <form method="post" action="{{ url_for('rgz.send_message', recipient_id=user[0]) }}">
                    <div style="display: inline-block; margin-left: 10px;">
                        <input type="text" name="user_comment" placeholder="">
                        <button type="submit">Отправить</button>
                    </div>
                </form>
                {% if is_admin %}
                    <a href="{{ url_for('rgz.edit_user', user_id=user[0]) }}"><button>Редактировать</button></a>
                    <a href="{{ url_for('rgz.delete_user', user_id=user[0]) }}" onclick="return confirm('Вы уверены?')"><button>Удалить</button></a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="/rgz">
        <button >Вернуться назад</button>
    </a>
</body>
</html>
{% endblock %}
